<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:padding-Right="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Movie5000</title>
    <link rel="stylesheet" type="text/css" href="../static/Style.css" th:href="@{/Style.css}">
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <style>
    </style>
</head>

<body>
<div class="hero-image">
    <div class="hero-text">

<div class="topnav">
    <a class="active" href="/">KinoXP</a>
    <a href="/movie">Movie</a>
    <a href="/contact">Contact</a>
    <a href="/aboutUs">About us</a>
    <a href="/login">Login</a>
    <a href="/actors">Opret Bruger</a>
</div>

<div class="topnav2">
    <a href="/">Vælg dag</a>
    <a href="movie">Vælg Film</a>
    <a href="/contact">2D/3D</a>

</div>

<div style="padding-left: 38px;padding-right: 4px;" ;>
    <h2>Forside</h2>

</div>
    </div>

<div class="logo-TopRight"><img src="https://i.imgur.com/VKkRjuB.png" alt="Trulli" width="150" height="50"></div>


<h2 style="text-align:center">Lightbox</h2>

<!--    <div class="main">
    <table id="myTable">
        <thead>
        <tr class="header">

            <th style="width:25%;" onclick="sortTable(2)">Title</th>
            <th style="width:25%;" onclick="sortTable(1)">Genre</th>
            <th style="width:25%;" onclick="sortTableNumber(3)">Duration</th>
            <th style="width:25%;">Img</th>



        </tr>
        </thead>
    <tbody id="myTable2">
    <tr th:each="sendings: ${senesteFilm}">

        <td><img th:src="@{${sendings.posterLink}}" style="width:66%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor"></td>
    </tr>

    </tbody>
    </table>
    </div>-->





<div th:each="sendings: ${senesteFilm}">
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_5terre.jpg">
                <img th:src="@{${sendings.posterLink}}" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </div>




</div>





<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">

        <div class="mySlides">
            <div class="numbertext">1 / 4</div>
            <img src="http://www.kultunaut.dk/images/film/7096766/plakat.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 4</div>
            <img src="https://m.media-amazon.com/images/M/MV5BMTE0YWFmOTMtYTU2ZS00ZTIxLWE3OTEtYTNiYzBkZjViZThiXkEyXkFqcGdeQXVyODMzMzQ4OTI@._V1_.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 4</div>
            <img src="http://www.gstatic.com/tv/thumb/v22vodart/14289030/p14289030_v_v8_aa.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 4</div>
            <img src="http://www.kultunaut.dk/images/film/7098075/plakat.jpg" style="width:100%">
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="caption-container">
            <p id="caption"></p>
        </div>


        <div class="column">
            <img class="demo cursor" src="http://www.kultunaut.dk/images/film/7096766/plakat.jpg" style="width:100%" onclick="currentSlide(1)" alt="Alita Battle Angel">
        </div>
        <div class="column">
            <img class="demo cursor" src="https://m.media-amazon.com/images/M/MV5BMTE0YWFmOTMtYTU2ZS00ZTIxLWE3OTEtYTNiYzBkZjViZThiXkEyXkFqcGdeQXVyODMzMzQ4OTI@._V1_.jpg" style="width:100%" onclick="currentSlide(2)" alt="Captain Marvel">
        </div>
        <div class="column">
            <img class="demo cursor" src="http://www.gstatic.com/tv/thumb/v22vodart/14289030/p14289030_v_v8_aa.jpg" style="width:100%" onclick="currentSlide(3)" alt="A Madea: Family Funeral">
        </div>
        <div class="column">
            <img class="demo cursor" src="http://www.kultunaut.dk/images/film/7098075/plakat.jpg" style="width:100%" onclick="currentSlide(4)" alt="LEGO 2: Filmen">
        </div>
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable2 tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function openModal() {
        document.getElementById('myModal').style.display = "block";
    }

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        captionText.innerHTML = dots[slideIndex-1].alt;
    }

    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch= true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

    function sortTableNumber(m) {
        var table, rows, switching, i, x, y, shouldSwitch, dir2, switchcount2 = 0;
        table = document.getElementById("myTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir2 = "123";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[m];
                y = rows[i + 1].getElementsByTagName("TD")[m];
                //check if the two rows should switch place:
                if (dir2 == "123") {
                    if (Number(x.innerHTML) > Number(y.innerHTML)) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir2 == "321"){
                    if (Number(x.innerHTML) < Number(y.innerHTML)) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }

            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount2 ++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount2 == 0 && dir2 == "123") {
                    dir2 = "321";
                    switching = true;
                }
            }
        }
    }
</script>

</body>
</html>