<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:padding-Right="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Movie5000</title>
    <link rel="stylesheet" type="text/css" href="../static/Style.css" th:href="@{/Style.css}">
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <style>
    </style>
</head>

<body>


<div class="topnav">
    <a href="/">IMDB</a>
    <a class="/active" href="movie">Movie</a>
    <a href="/contact">Contact</a>
    <a href="/aboutUs">About us</a>
    <a href="/actors">Actors</a>
</div>

<div style="padding-left: 38px;padding-right: 4px;" ;>
    <h2>Movie List</h2>

    <div class="search-container">
        <form class="example" action="/searchByTitle/" style="max-width:1000px">
            <input type="text" placeholder="Search.." name="Search">
            <button type="submit" value="Search"><span>Search by Title</span><i class="fa fa-search"></i></button>
        </form>
    </div>

    <div class="search-container">
        <form class="example" action="/searchByGenre/" style="max-width:1000px">
            <input type="text" placeholder="Search.." name="Search">
            <button type="submit"><span>Search by Genre</span><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!--<a href="/searchByGenre/">
        <button class="button"><span>Search by genre</span></button>
    </a>-->


    <div class="container">


        <table id="myTable">
            <thead>
            <tr class="header">
                <th  style="width:25%;">Movie Id</th>
                <th style="width:25%;">Title</th>
                <th style="width:25%;">Genre</th>
                <th  style="width:25%;">Year</th>
                <th style="width: 25%;">Options</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="movie: ${Movies}">
                <td th:text="${movie.id}"/>
                <td th:text="${movie.year}"/>
                <td th:text="${movie.genre}"/>
                <td th:text="${movie.title}"/>

                <td>
                    <div class="dropdown">
                        <button class="dropbtn">Options</button>
                        <div class="dropdown-content">
                            <a th:href="${'select/' + movie.id}">
                                Select</button>
                            </a>
                            <a th:href="${'update/' + movie.id}">
                                Update</button>
                            </a>
                            <a th:href="${'delete/' + movie.id}">
                                Delete</button>
                            </a>
                        </div>
                    </div>
                </td>

            </tr>

            </tbody>
        </table>
    </div>
</div>

</div>
</table>
<a href="/create">
    <button class="button"><span>Create movie</span></button>
</a>
<script>
</script>
<div class="logo-TopRight"><img src="https://i.imgur.com/VKkRjuB.png" alt="Trulli" width="150" height="50"></div>

</body>
</html>